<div class="container">
  <div class="row">
    <div class="heading"><h4>Requests page</h4>
  </div>
  </div>
  <div class="card">
      <h6>Driver Details</h6>
      <b>Email: </b><%= @driver.email %>
      <hr />

    <h6>Vehicle Details</h6>
    <b> colour: </b><%= @ride.vehicle.colour %>
    <b> Number plate: </b><%= @ride.vehicle.plate %>
    <b> Make: </b><%= @ride.vehicle.make %>

    <hr />
    <h6>Ride Details</h6>
    <b> Departure time: </b> <%= @ride.time.to_formatted_s(:short) %>
    <b> Remaining seats: </b><%= @ride.remaining_capacity %>
    <b> Start point: </b><%= @ride.origin %>
    <b> Destination: </b><%= @ride.destination %>

    <%= link_to  "make request", vehicle_ride_requests_path(@ride.vehicle.id, @ride.id), { class: "btn btn-outline-success ml-auto" , "data-toggle" => "modal", "data-target" => "#exampleModalCenter"}   %>

  </div>
</div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <%= form_with scope: :request, url: vehicle_ride_requests_path(@ride.vehicle.id, @ride.id), local: true, class: "nifty_form" do |request| %>
              <div class="form-group">
                  <%= request.label :pickup %><br />
                  <%= request.text_field :pickup, class: "form-control", placeholder: "pickup point", required:'' %>
                </div>
              <div class="form-group">
                  <%= request.label :dropoff %><br />
                  <%= request.text_field :dropoff, class: "form-control", placeholder: "drop off point", required:'' %>
              </div>
              <%= request.submit "request ride", class: "btn btn-success" %>
            <% end %>
      </div>
    </div>
  </div>
</div>