<div class="sign">
  <div class="cover">
    <div class="signin">
      <div class="icon">
        <%= image_tag 'voks.svg' %></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= form_group_for f, :email, label: false  do %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "jane.doe@gmail.com" %>
      </div>
      <% end %>

      <%= form_group_for f, :password, label: false  do %>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "password" %>
      </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-success" %>
        <%= render "devise/shared/links" %>
      </div>

      <% if alert %>
        <p class="help-block"><%= alert %>!</p>
    <% elsif notice %>
      <p class="help-block"><%= notice %>!</p>
    <% end %>
    <% end %>

    </div>
  </div>
</div>