<div class="container new">
    <div class="row">
      <div class="heading account-reg">
        <h4>Account details</h4>
      </div>
    </div>
    <div class="reg-form">
      <%= form_with scope: :account, url: account_index_url, local: true, class: "nifty_form" do |account| %>
        <div class="form-group">
          <%= account.label :first_name %><br />
          <%= account.text_field :first_name, class: "form-control", placeholder: "Godwi.." %>
        </div>
        <div class="form-group">
          <%= account.label :last_name %><br />
          <%= account.text_field :last_name, class: "form-control", placeholder: "Gito..." %>
        </div>
        <div class="form-group">
          <%= account.label :phone_number %><br />
          <%= account.text_field :phone_number, class: "form-control", placeholder: "+254..." %>
          <% if flash[:error] %>
            <p class="error"> Plate <%= flash[:error][:plate][0] %> </p>
          <% end %>
        </div>
        <div class="form-group">
          <%= account.label :identification %><br />
          <%= account.text_field :identification, class: "form-control", placeholder: "125..." %>
        </div>
        <div class="form-group">
          <%= account.submit "Update account details", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  
  </div>