<div class="container index">
  <div class="row">
    <div class="heading">
      <h4>Registered vehicles</h4>
    </div>
    <%= link_to 'Add vehicle', new_vehicle_path, class: "btn btn-outline-success ml-auto" %>
  </div>

  <div class="vehicle-list">
   <% if @vehicles.empty? %>
          No Vehicles added yet. Please add a vehicle.
    <% else %>
  <table class="table vehicles table-borderless">
    <thead>
    <tr>
      <th scope="col">Number plate</th>
      <th scope="col">Make/Model</th>
      <th scope="col">Colour</th>
      <th scope="col">Capacity</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @vehicles.each do |f| %>
      <tr class="ride-rows">
        <th scope="row"><%= f.plate %></th>
        <td><%= f.make %></td>
        <td><%= f.colour %></td>
        <td><%= f.capacity %></td>
        <td class="last-child">
          <%=link_to  image_tag('plus.svg'), vehicle_rides_url(f.id) %>
          <%=link_to  image_tag('trash.svg'), vehicle_path(f), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%=link_to  image_tag('writing.svg'), edit_vehicle_path(f.id) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
  </div>
</div>