<div class="container new">
  <div class="row">
    <div class="heading account-reg">
      <h4>Account details</h4>
    </div>
  </div>
  <div class="reg-form">
    <%= form_for @account do |account| %>
    <%= form_group_for account, :first_name, label: false  do %>
      <div class="form-group">
        <%= account.label :first_name %><br />
        <%= account.text_field :first_name, class: "form-control", required: "" %>
      </div>
      <% end %>

      <%= form_group_for account, :first_name, label: false  do %>
      <div class="form-group">
        <%= account.label :last_name %><br />
        <%= account.text_field :last_name, class: "form-control", required: "" %>
      </div>
      <% end %>

      <%= form_group_for account, :first_name, label: false  do %>
      <div class="form-group">
        <%= account.label :phone_number %><br />
        <%= account.text_field :phone_number, class: "form-control", required: ""%>
        <% if flash[:error] %>
          <p class="error"> Plate <%= flash[:error][:plate][0] %> </p>
        <% end %>
      </div>
      <% end %>

      <%= form_group_for account, :first_name, label: false  do %>
      <div class="form-group">
        <%= account.label :identification %><br />
        <%= account.text_field :identification, class: "form-control", required: "" %>
      </div>
      <% end %>

      <div class="form-group">
        <%= account.submit "Update account details", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>

</div>